{% load static %}

<section class="footer3 cid-u3wTNHj8Ut" once="footers" id="footer-3-u3wTNHj8Ut">
    <div class="container">
        <div class="row">
            <div class="row-links">
                <ul class="header-menu">
                <li class="header-menu-item mbr-fonts-style display-5">
                    <a href="https://ru-ru.facebook.com/" class="text-white">Facebook</a>
                  </li><li class="header-menu-item mbr-fonts-style display-5">
                    <a href="http://instagram.com/" class="text-white">Instagram</a>
                  </li><li class="header-menu-item mbr-fonts-style display-5">
                    <a href="https://twitter.com/?lang=ru" class="text-white">Twitter</a>
                  </li><li class="header-menu-item mbr-fonts-style display-5">
                    <a href="https://www.linkedin.com/" class="text-white">LinkedIn</a>
                  </li></ul>
              </div>

            <div class="col-12 mt-4">
                <div class="social-row">
                    <div class="soc-item">
                        <a href="#" target="_blank">
                            <span class="mbr-iconfont socicon socicon-facebook display-7"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="#" target="_blank">
                            <span class="mbr-iconfont socicon-twitter socicon"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="#" target="_blank">
                            <span class="mbr-iconfont socicon-instagram socicon"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="#" target="_blank">
                            <span class="mbr-iconfont socicon socicon-linkedin"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="#" target="_blank">
                            <span class="mbr-iconfont socicon socicon-twitch"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-12 mt-5">
                <p class="mbr-fonts-style copyright display-7">
                    © 2024 kitob do'koni. Barcha huquqlar himoyalangan.
                </p>
            </div>
        </div>
    </div>
</section>
