{% load static %}
<section class="gallery10 cid-u3wTNHhzFF" id="features-69-u3wTNHhzFF">
    <div class="container-fluid">
        <div class="loop-container">
          <div class="item display-1" data-linewords="
            Barcha yoshdagilar uchun qiziqarli kitoblar *
            Bepul yetkizib berish xizmat *" 
          data-direction="-1" data-speed="0.05">
          </div>
          <div class="item display-1" data-linewords="
            Barcha yoshdagilar uchun qiziqarli kitoblar *
            Bepul yetkizib berish xizmat *" 
          data-direction="-1" data-speed="0.05">
          </div>
        </div>   
    </div>
  </section>